.modification {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;

  &__result {
    padding: 20px;
    position: relative;
  }

  &__image {
    max-width: 100%;
  }

  &__button {
    background: $c-green;
    min-height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 30px;
    width: 100%;
  }
}

@include bp(min-width, $bp-medium + 1) {
  .modification {
    flex-direction: row;
    &__result,
    &__option {
      width: 50%;
    }
  }
}